In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv")
train.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
test = pd.read_csv("test.csv")
test.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297

In [4]:
train_id = train["id"]
test_id = test["id"]

In [5]:
train=train.drop('id', axis=1)
test=test.drop('id', axis=1)

In [6]:
train["Gender"] = train["Gender"].replace({'Male':0, 'Female':1})
train["Vehicle_Damage"] = train["Vehicle_Damage"].replace({'Yes':1,"No":0})

In [7]:
test["Gender"] = test["Gender"].replace({'Male':0, 'Female':1})
test["Vehicle_Damage"] = test["Vehicle_Damage"].replace({'Yes':1,"No":0})

In [8]:
map_dict={'> 2 Years':2,'1-2 Year':1,'< 1 Year':0}
train['Vehicle_Age']=train['Vehicle_Age'].map(map_dict)

In [9]:
map_dict={'> 2 Years':2,'1-2 Year':1,'< 1 Year':0}
test['Vehicle_Age']=test['Vehicle_Age'].map(map_dict)

In [10]:
#train=(train[train.Annual_Premium<100000])
#train=(train[train.Annual_Premium>2700])

In [11]:
def analysis(df, target):
    instance = df.shape[0]
    types=df.dtypes
    counts = df.apply(lambda x: x.count())
    uniques = df.T.apply(pd.Series.unique,1)
    nulls= df.apply(lambda x: x.isnull().sum())
    distincts = df.apply(pd.Series.nunique)
    null_perc = (df.isnull().sum()/instance)*100
    skewness = df.skew()
    kurtosis = df.kurt()
    
    corr = df.corr()[target]
    str = pd.concat([types, counts,uniques, nulls,distincts, null_perc, skewness, kurtosis, corr], axis = 1, sort=False)
    corr_col = 'corr '  + target
    cols = ['types', 'counts','uniques', 'nulls','distincts', 'null_perc', 'skewness', 'kurtosis', corr_col ]
    str.columns = cols
    return str

In [12]:
details = analysis(train, "Response")
details.sort_values("corr Response",ascending=False)

,types,counts,uniques,nulls,distincts,null_perc,skewness,kurtosis,corr Response
Response,int64,381109,"[1.0, 0.0]",0,2,0.0,2.301906,3.298788,1.000000
Vehicle_Damage,int64,381109,"[1.0, 0.0]",0,2,0.0,-0.019507,-1.999630,0.354400
Vehicle_Age,int64,381109,"[2.0, 1.0, 0.0]",0,3,0.0,0.252896,-0.792253,0.221874
Age,int64,381109,"[44.0, 76.0, 47.0, 21.0, 29.0, 24.0, 23.0, 56....",0,66,0.0,0.672539,-0.565655,0.111147
Annual_Premium,float64,381109,"[40454.0, 33536.0, 38294.0, 28619.0, 27496.0, ...",0,48838,0.0,1.766087,34.004569,0.022575
Region_Code,float64,381109,"[28.0, 3.0, 11.0, 41.0, 33.0, 6.0, 35.0, 50.0,...",0,53,0.0,-0.115266,-0.867857,0.010570
Driving_License,int64,381109,"[1.0, 0.0]",0,2,0.0,-21.595182,464.354302,0.010155
Vintage,int64,381109,"[217.0, 183.0, 27.0, 203.0, 39.0, 176.0, 249.0...",0,290,0.0,0.003030,-1.200688,-0.001050
Gender,int64,381109,"[0.0, 1.0]",0,2,0.0,0.163590,-1.973249,-0.052440
Policy_Sales_Channel,float64,381109,"[26.0, 152.0, 160.0, 124.0, 14.0, 13.0, 30.0, ...",0,155,0.0,-0.900008,-0.970810,-0.139042
Previously_Insured,int64,381109,"[0.0, 1.0]",0,2,0.0,0.167747,-1.971871,-0.341170

In [13]:
y = train.Response
X = train.copy()
X = X.drop('Response',1)

In [14]:
len(X)

381109

In [15]:
len(test)

127037

In [16]:
dataset = pd.concat([X,test])
len(dataset)

508146

In [17]:
dataset.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,0,44,1,28.0,0,2,1,40454.0,26.0,217
1,0,76,1,3.0,0,1,0,33536.0,26.0,183
2,0,47,1,28.0,0,2,1,38294.0,26.0,27
3,0,21,1,11.0,1,0,0,28619.0,152.0,203
4,1,29,1,41.0,1,0,0,27496.0,152.0,39

In [18]:
from sklearn.preprocessing import StandardScaler
scaler =  StandardScaler()
data_scaled = scaler.fit_transform(dataset)

In [19]:
data_scaled = pd.DataFrame(data_scaled,columns = X.columns)

In [20]:
data_scaled.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,-0.923228,0.334938,0.045482,0.120487,-0.920485,2.450727,0.991476,0.577349,-1.584926,0.748905
1,-0.923228,2.399432,0.045482,-1.769885,-0.920485,0.688368,-1.008597,0.173886,-1.584926,0.342540
2,-0.923228,0.528484,0.045482,0.120487,-0.920485,2.450727,0.991476,0.451376,-1.584926,-1.521956
3,-0.923228,-1.148918,0.045482,-1.164966,1.086384,-1.073991,-1.008597,-0.112877,0.737827,0.581578
4,1.083156,-0.632794,0.045482,1.103481,1.086384,-1.073991,-1.008597,-0.178371,0.737827,-1.378534

In [21]:
train_df =data_scaled[:len(train)].copy()
len(train_df)

381109

In [22]:
train_df['Response']=y

In [23]:
train_df.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,-0.923228,0.334938,0.045482,0.120487,-0.920485,2.450727,0.991476,0.577349,-1.584926,0.748905,1
1,-0.923228,2.399432,0.045482,-1.769885,-0.920485,0.688368,-1.008597,0.173886,-1.584926,0.342540,0
2,-0.923228,0.528484,0.045482,0.120487,-0.920485,2.450727,0.991476,0.451376,-1.584926,-1.521956,1
3,-0.923228,-1.148918,0.045482,-1.164966,1.086384,-1.073991,-1.008597,-0.112877,0.737827,0.581578,0
4,1.083156,-0.632794,0.045482,1.103481,1.086384,-1.073991,-1.008597,-0.178371,0.737827,-1.378534,0

In [24]:
test_df =data_scaled[len(train):].copy()
len(test_df)

127037

In [25]:
y = train_df.Response
X = train_df.copy()
X = X.drop('Response',1)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.7)

In [27]:
y_train.value_counts()

0    233989
1     32787
Name: Response, dtype: int64

In [28]:
from imblearn.over_sampling import RandomOverSampler

from collections import Counter

In [29]:
os=RandomOverSampler()
X_train_ns,y_train_ns=os.fit_sample(X_train,y_train)
print("The number of classes before fit {}".format(Counter(y_train)))
print("The number of classes after fit {}".format(Counter(y_train_ns)))

The number of classes before fit Counter({0: 233989, 1: 32787})
The number of classes after fit Counter({0: 233989, 1: 233989})

In [30]:
from sklearn.linear_model import LogisticRegression
log_clf = LogisticRegression()
log_clf.fit(X_train_ns,y_train_ns)

LogisticRegression()

In [31]:
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix, classification_report

In [32]:
y_pred=log_clf.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(roc_auc_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[59421 40989]
 [  312 13611]]
0.7846873616491712
0.6387657106872031
              precision    recall  f1-score   support

           0       0.99      0.59      0.74    100410
           1       0.25      0.98      0.40     13923

    accuracy                           0.64    114333
   macro avg       0.62      0.78      0.57    114333
weighted avg       0.90      0.64      0.70    114333

In [33]:
submission = pd.read_csv("sample_submission.csv")

In [34]:
prediction = log_clf.predict(test_df)

In [35]:
submission.Response = prediction

In [36]:
submission.head()

       id  Response
0  381110         0
1  381111         1
2  381112         1
3  381113         0
4  381114         0

In [37]:
submission.to_csv('submission_oversampling_LR.csv', index=False)